html {
    display: flex;
    flex-direction: column;
    text-size-adjust: none;
    font-size: 200%;
    width: 98.8vw;
    background-color: rgb(255 244 234);
    color: rgb(130 0 85);
}

header {
    text-align: center;
}


nav a{
    border: solid;
}



img {
    float: left;
}

footer {
    text-align: center;
}