html {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgb(255 244 234);
    color: rgb(130 0 115);
}

body {
    width: 98.41vw;
}

header {
    text-align: center; 
    margin-top: 30px; 
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-color:rgb(232 211 201);
}

h1 {
    font-family: 'Leckerli One', cursive;
    font-size: 2.8em;
    margin-bottom: 15px;
}


nav table {
    display: inline-block;
    border-spacing: 0;
    border-collapse: collapse;
}


nav table td {
    border: solid;
    border-top: none;
    border-bottom: none;
    border-spacing: 0;
    border-collapse: collapse; 
    border-color:rgb(232 211 201);
    
}

td:hover {
    color: rgb(0 0 0);
    background-color: rgb(232 211 201);
}

nav td a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    color:rgb(145 64 54);
}

a:hover {
    color: rgb(100 19 9);
}

main {
    min-height: 75.9vh;
    font-family: 'Acme', sans-serif;
    margin: 70px;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 2.8em;
    margin-bottom: 20px;
}

img {
    float: left;
    padding: 0 20px 20px 0;
}


.main_text {
    font-size: 1.7em;
    word-spacing: 2.5px;
    line-height: 150%;
}

footer {
    text-align: center;
    font-family: 'Acme', sans-serif;
}


@media (max-width: 700px){
    header {
        padding-bottom: 5px;
    }
    
    h1 {
        font-size: 2em;
    }

    nav a {
        font-size: 1em;
    }


    img {
        height: 180px;
        width: auto;
    }
}
