html {
    height: 1690px;
    background-color: rgb(255, 245, 247);
}

header h1 {
    font-size: 300%
}

header nav {
    font-size: 1.8em;
}

nav a {
    
    border: solid;
}


body {
    height: 1660px;
    text-size-adjust: none;
    color: rgb(130, 0, 65);
    font-family: Georgia, serif;
}


main {
    height: 1383px;
    margin-top: 77px;
    margin-right: 68px;
    margin-bottom: 56.27px;
    margin-left: 60px; 
}


main h2{
    font-size: 3em;
    margin-bottom: 15px;
}

main p {
    margin-top: 15px;
}

main img {
    float: left;
    padding-right: 20px;
    shape-outside: polygon(264px 0, 264px 190px, 330px 220px, 350px 240px, 350px 346px, 20px 346px)      
}

.maincontent {
    font-size: 2.35em;
    line-height: 135%;
    word-spacing: 1.1px;
    font-family: Times, serif; 
}

main ul {
    list-style-type: none;
    padding-left: 0; 
}



footer {
    text-align: center;
    margin-top: 18.73px;
    background-color: rgb(253, 255, 253);
}



